.blogs {
  padding-top: 100px;
  flex-direction: column;
  
  .heading {
    text-align: center;
  }

  .blog-list {
    margin: 32px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      max-width: 420px;
      margin: 16px auto;
      border: solid 2px #aaaaaa;
      padding: 28px;
      box-shadow: 5px 5px 10px #aaaaaa;
      border-radius: 12px;

      .title {
        font-size: 24px;
        text-align: justify;
      }

      .date {
        margin: 24px 0;
        font-size: 20px;
      }
    }
  }
}